In [1]:
from env import host, username, password, get_db_url
import os
import pandas as pd 
import numpy as np

In [90]:
def acquire_zillow_data(use_cache=True):
    '''
    This function returns a snippet of zillow's database as a Pandas DataFrame. 
    When this SQL data is cached and extant in the os directory path, return the data as read into a df. 
    If csv is unavailable, aquisition proceeds regardless,
    reading the queried database elements into a dataframe, creating a cached csv file
    and lastly returning the dataframe for some sweet data science perusal.
    '''

    # If the cached parameter is True, read the csv file on disk in the same folder as this file 
    if os.path.exists('zillow.csv') and use_cache:
        print('Using cached CSV')
        return pd.read_csv('zillow.csv', dtype={'buildingclassdesc': 'str', 'propertyzoningdesc': 'str'})

    # When there's no cached csv, read the following query from Codeup's SQL database.
    print('CSV not detected.')
    print('Acquiring data from SQL database instead.')
    df = pd.read_sql(
        '''
        SELECT *
        FROM properties_2017
        JOIN (
              SELECT parcelid, 
                     logerror, 
                     MAX(transactiondate) AS transactiondate 
              FROM predictions_2017 GROUP BY parcelid, logerror
              ) 
               AS pred_2017 USING(parcelid) 
        LEFT JOIN airconditioningtype 
            USING(airconditioningtypeid)
        LEFT JOIN architecturalstyletype 
            USING(architecturalstyletypeid)
        LEFT JOIN buildingclasstype 
            USING(buildingclasstypeid)
        LEFT JOIN heatingorsystemtype 
            USING(heatingorsystemtypeid)
        LEFT JOIN propertylandusetype 
            USING(propertylandusetypeid)
        LEFT JOIN storytype 
            USING(storytypeid)
        LEFT JOIN typeconstructiontype 
            USING(typeconstructiontypeid)
        WHERE properties_2017.latitude IS NOT NULL
        AND properties_2017.longitude IS NOT NULL;             
        '''
                    , get_db_url('zillow'))
    
    df.propertyzoningdesc.astype(str)
    
    
    print('Acquisition Complete. Dataframe available and is now cached for future use.')
    # create a csv of the dataframe for the sake of efficiency. 
    df.to_csv('zillow.csv', index=False)
    
    return df

In [83]:
df = acquire_zillow_data()

Using cached CSV

In [ ]:
df

In [149]:
import mitosheet
mitosheet.sheet(df, view_df=True)

MitoWidget(analysis_data_json='{"analysisName": "UUID-c45336e8-e767-4ab1-98e9-49ef574e4725", "code": {"imports…

In [86]:
df.propertyzoningdesc.astype(str)

dtype('O')

In [79]:
df.architecturalstyledesc.nunique()
print(f'Column: {round(df["architecturalstyledesc"].value_counts(normalize=True).nlargest(5), 3)} \n')
print(f'Column: {round(df["buildingclassdesc"].value_counts(normalize=True).nlargest(5), 3)} \n')
print(f'Column: {round(df["propertyzoningdesc"].value_counts(normalize=True).nlargest(5), 3)} \n')

Column: Contemporary     0.835
Conventional     0.092
Ranch/Rambler    0.034
Bungalow         0.024
Cape Cod         0.015
Name: architecturalstyledesc, dtype: float64

Column: Buildings having wood or wood and steel frames                                                                                                                                                                                             0.933
Buildings having exterior walls built of a non-combustible material such as brick, concrete, block or poured concrete. Interior partitions and roof structures are built of combustible materials. Floor may be concrete or wood frame.    0.067
Name: buildingclassdesc, dtype: float64

Column: LAR1       0.134
LAR3       0.049
LARS       0.028
LBR1N      0.024
LARD1.5    0.022
Name: propertyzoningdesc, dtype: float64

In [99]:
def describe_data(df):
    '''
    This function takes in a pandas dataframe and prints out the shape, datatypes, number of missing values, 
    columns and their data types, summary statistics of numeric columns in the dataframe, as well as the value counts for categorical variables.
    '''
    # Print out the "shape" of our dataframe - rows and columns
    print(f'This dataframe has {df.shape[0]} rows and {df.shape[1]} columns.')
    print('')
    print('--------------------------------------')
    print('--------------------------------------')
    
    # print the datatypes and column names with non-null counts
    print(df.info())
    print('')
    print('--------------------------------------')
    print('--------------------------------------')
    
    
    # print out summary stats for our dataset
    print('Here are the summary statistics of our dataset')
    print(df.describe().applymap(lambda x: f"{x:0.3f}"))
    print('')
    print('--------------------------------------')
    print('--------------------------------------')

    # print the number of missing values per column and the total
    print('Null Values by Column: ')
    missing_total = df.isnull().sum().sum()
    missing_count = df.isnull().sum() # the count of missing values
    value_count = df.isnull().count() # the count of all values
    missing_percentage = round(missing_count / value_count * 100, 2) # percentage of missing values
    missing_df = pd.DataFrame({'count': missing_count, 'percentage': missing_percentage})\
    .sort_values(by='percentage', ascending=False)
    
    print(missing_df.head(50))
    print(f' \n Total Number of Missing Values: {missing_total} \n')
    df_total = df[df.columns[:]].count().sum()
    proportion_of_nulls = round((missing_total / df_total), 4)
    print(f' Proportion of Nulls in Dataframe: {proportion_of_nulls}\n') 
    print('--------------------------------------')
    print('--------------------------------------')
    
    print('Row-by-Row Nulls')
    print(nulls_by_row(df))
    print('----------------------')
    

   # num_cols = [col for col in df.columns if df[col].dtype != 'object']
   # cat_cols = [col for col in df.columns if col not in num_cols]
   # print('Dataframe value counts ')
   # for col in df.columns:
   #     if col in cat_cols:
   #         print(df[col].value_counts())
   #     else:
   #         # define bins for continuous columns and don't sort them
   #         print(df[col].value_counts(bins=10, sort=False))


    #print('Relative Frequencies: \n')
    ## Display top 5 values of each variable within reasonable limit
    #limit = 25
    #for col in df.columns:
    #    if df[col].nunique() < limit:
    #        print(f'Column: {col} \n {round(df[col].value_counts(normalize=True).nlargest(5), 3)} \n')
    #    else: 
    #        print(f'Column: {col} \n')
    #        print(f'Range of Values: [{df[col].min()} - {df[col].max()}] \n')
    #    print('------------------------------------------')
    #    print('--------------------------------------')
        
        
def nulls_by_col(df):
    '''
    This function  takes in a dataframe of observations and attributes(or columns) and returns a dataframe where each row is an atttribute name, the first column is the 
    number of rows with missing values for that attribute, and the second column is percent of total rows that have missing values for that attribute.
    '''
    num_missing = df.isnull().sum()
    rows = df.shape[0]
    prcnt_miss = (num_missing / rows * 100)
    cols_missing = pd.DataFrame({'num_rows_missing': num_missing, 
                                 'percent_rows_missing': prcnt_miss})\
    .sort_values(by='percent_rows_missing', ascending=False)
    return cols_missing.applymap(lambda x: f"{x:0.1f}")

def nulls_by_row(df):
    '''
    This function takes in a dataframe and returns a dataframe with 3 columns: the number of columns missing, percent of columns missing, 
    and number of rows with n columns missing.
    '''
    num_missing = df.isnull().sum(axis = 1)
    prcnt_miss = (num_missing / df.shape[1] * 100)
    rows_missing = pd.DataFrame({'num_cols_missing': num_missing, 
                                 'percent_cols_missing': prcnt_miss})\
    .reset_index()\
    .groupby(['num_cols_missing', 'percent_cols_missing']).count()\
    .rename(index=str, columns={'index': 'num_rows'}).reset_index().set_index('num_cols_missing')\
    .sort_values(by='percent_cols_missing', ascending=False)
    return rows_missing

In [33]:
print(f'Column: {round(df["propertyzoningdesc"].value_counts(normalize=True).nlargest(5), 3)} \n')

In [55]:
def nulls_by_col(df):
    '''
    This function  takes in a dataframe of observations and attributes(or columns) and returns a dataframe where each row is an atttribute name, the first column is the 
    number of rows with missing values for that attribute, and the second column is percent of total rows that have missing values for that attribute.
    '''
    num_missing = df.isnull().sum()
    rows = df.shape[0]
    prcnt_miss = (num_missing / rows * 100)
    cols_missing = pd.DataFrame({'num_rows_missing': num_missing, 
                                 'percent_rows_missing': prcnt_miss})\
    .sort_values(by='percent_rows_missing', ascending=False)
    return cols_missing.applymap(lambda x: f"{x:0.1f}")

In [56]:
null_cols = nulls_by_col(df)

In [60]:
null_cols.head(10)

                         num_rows_missing percent_rows_missing
buildingclassdesc                 77560.0                100.0
buildingclasstypeid               77560.0                100.0
finishedsquarefeet13              77533.0                 99.9
storydesc                         77525.0                 99.9
basementsqft                      77525.0                 99.9
storytypeid                       77525.0                 99.9
yardbuildingsqft26                77505.0                 99.9
fireplaceflag                     77403.0                 99.8
architecturalstyletypeid          77369.0                 99.7
architecturalstyledesc            77369.0                 99.7

In [44]:
import mitosheet
mitosheet.sheet(null_cols, view_df=True)

MitoWidget(analysis_data_json='{"analysisName": "UUID-d94ad3f2-8849-4948-94e0-ea39ed315646", "code": {"imports…

In [ ]:
from mitosheet import *; register_analysis('UUID-d94ad3f2-8849-4948-94e0-ea39ed315646')
    
# Sorted percent_rows_missing in null_cols in descending order
null_cols = null_cols.sort_values(by='percent_rows_missing', ascending=False, na_position='last')

In [94]:
describe_data(df)

This dataframe has 77575 rows and 68 columns.

--------------------------------------
--------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77575 entries, 0 to 77574
Data columns (total 68 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   typeconstructiontypeid        222 non-null    float64
 1   storytypeid                   50 non-null     float64
 2   propertylandusetypeid         77575 non-null  float64
 3   heatingorsystemtypeid         49570 non-null  float64
 4   buildingclasstypeid           15 non-null     float64
 5   architecturalstyletypeid      206 non-null    float64
 6   airconditioningtypeid         25006 non-null  float64
 7   parcelid                      77575 non-null  int64
 8   id                            77575 non-null  int64
 9   basementsqft                  50 non-null     float64
 10  bathroomcnt                   77575 non-null  float64
 11  bedroomcnt                    77575 non-null  float64
 12  buildingqualitytypeid         49809 non-null  float64
 13  calculatedbathnbr             76960 non-null  float64
 14  decktypeid                    614 non-null    float64
 15  finishedfloor1squarefeet      6035 non-null   float64
 16  calculatedfinishedsquarefeet  77375 non-null  float64
 17  finishedsquarefeet12          73920 non-null  float64
 18  finishedsquarefeet13          42 non-null     float64
 19  finishedsquarefeet15          3027 non-null   float64
 20  finishedsquarefeet50          6035 non-null   float64
 21  finishedsquarefeet6           386 non-null    float64
 22  fips                          77575 non-null  float64
 23  fireplacecnt                  8287 non-null   float64
 24  fullbathcnt                   76960 non-null  float64
 25  garagecarcnt                  25517 non-null  float64
 26  garagetotalsqft               25517 non-null  float64
 27  hashottuborspa                1539 non-null   float64
 28  latitude                      77575 non-null  float64
 29  longitude                     77575 non-null  float64
 30  lotsizesquarefeet             69318 non-null  float64
 31  poolcnt                       16173 non-null  float64
 32  poolsizesum                   869 non-null    float64
 33  pooltypeid10                  465 non-null    float64
 34  pooltypeid2                   1074 non-null   float64
 35  pooltypeid7                   15078 non-null  float64
 36  propertycountylandusecode     77575 non-null  object
 37  propertyzoningdesc            50475 non-null  object
 38  rawcensustractandblock        77575 non-null  float64
 39  regionidcity                  76103 non-null  float64
 40  regionidcounty                77575 non-null  float64
 41  regionidneighborhood          30973 non-null  float64
 42  regionidzip                   77525 non-null  float64
 43  roomcnt                       77575 non-null  float64
 44  threequarterbathnbr           10105 non-null  float64
 45  unitcnt                       50703 non-null  float64
 46  yardbuildingsqft17            2393 non-null   float64
 47  yardbuildingsqft26            70 non-null     float64
 48  yearbuilt                     77306 non-null  float64
 49  numberofstories               17596 non-null  float64
 50  fireplaceflag                 172 non-null    float64
 51  structuretaxvaluedollarcnt    77460 non-null  float64
 52  taxvaluedollarcnt             77574 non-null  float64
 53  assessmentyear                77575 non-null  float64
 54  landtaxvaluedollarcnt         77573 non-null  float64
 55  taxamount                     77570 non-null  float64
 56  taxdelinquencyflag            2900 non-null   object
 57  taxdelinquencyyear            2900 non-null   float64
 58  censustractandblock           77328 non-null  float64
 59  logerror                      77575 non-null  float64
 60  transactiondate               77575 non-null  object
 61  airconditioningdesc           25006 non-null  object
 62  architecturalstyledesc        206 non-null    object
 63  buildingclassdesc             15 non-null     object
 64  heatingorsystemdesc           49570 non-null  object
 65  propertylandusedesc           77575 non-null  object
 66  storydesc                     50 non-null     object
 67  typeconstructiondesc          222 non-null    object
dtypes: float64(55), int64(2), object(11)
memory usage: 40.2+ MB
None

--------------------------------------
--------------------------------------
Here are the summary statistics of our dataset
      typeconstructiontypeid storytypeid propertylandusetypeid  \
count                222.000      50.000             77575.000
mean                   6.041       7.000               261.824
std                    0.557       0.000                 5.142
min                    4.000       7.000                31.000
25%                    6.000       7.000               261.000
50%                    6.000       7.000               261.000
75%                    6.000       7.000               266.000
max                   13.000       7.000               275.000

      heatingorsystemtypeid buildingclasstypeid architecturalstyletypeid  \
count             49570.000              15.000                  206.000
mean                  3.922               3.933                    7.388
std                   3.595               0.258                    2.735
min                   1.000               3.000                    2.000
25%                   2.000               4.000                    7.000
50%                   2.000               4.000                    7.000
75%                   7.000               4.000                    7.000
max                  24.000               4.000                   21.000

      airconditioningtypeid       parcelid           id basementsqft  ...  \
count             25006.000      77575.000    77575.000       50.000  ...
mean                  1.812   13006298.978  1495352.005      679.720  ...
std                   2.966    3478020.750   860970.273      689.704  ...
min                   1.000   10711855.000      349.000       38.000  ...
25%                   1.000   11538198.000   752105.000      273.000  ...
50%                   1.000   12530531.000  1498195.000      515.000  ...
75%                   1.000   14211235.500  2240715.000      796.500  ...
max                  13.000  167689317.000  2982274.000     3560.000  ...

      numberofstories fireplaceflag structuretaxvaluedollarcnt  \
count       17596.000       172.000                  77460.000
mean            1.434         1.000                 189281.452
std             0.545         0.000                 230413.733
min             1.000         1.000                     44.000
25%             1.000         1.000                  84182.000
50%             1.000         1.000                 136404.500
75%             2.000         1.000                 218734.000
max             6.000         1.000               11421790.000

      taxvaluedollarcnt assessmentyear landtaxvaluedollarcnt   taxamount  \
count         77574.000      77575.000             77573.000   77570.000
mean         490144.705       2016.000            301145.296    5995.822
std          653802.177          0.000            492728.733    7628.869
min            1000.000       2016.000               161.000      19.920
25%          206898.500       2016.000             85293.000    2712.630
50%          358878.500       2016.000            203174.000    4448.265
75%          569000.000       2016.000            366753.000    6926.785
max        49061236.000       2016.000          48952198.000  586639.300

      taxdelinquencyyear  censustractandblock   logerror
count           2900.000            77328.000  77575.000
mean              14.088   60496658430265.156      0.017
std                2.181    1533375678743.788      0.171
min                3.000   60371011101000.000     -4.655
25%               14.000   60373109004005.000     -0.024
50%               15.000   60376032001020.000      0.007
75%               15.000   60590423251007.000      0.039
max               99.000  483030105084015.000      5.263

[8 rows x 57 columns]

--------------------------------------
--------------------------------------
Null Values:
                              count  percentage
buildingclassdesc             77560       99.98
buildingclasstypeid           77560       99.98
finishedsquarefeet13          77533       99.95
storydesc                     77525       99.94
basementsqft                  77525       99.94
storytypeid                   77525       99.94
yardbuildingsqft26            77505       99.91
fireplaceflag                 77403       99.78
architecturalstyletypeid      77369       99.73
architecturalstyledesc        77369       99.73
typeconstructiontypeid        77353       99.71
typeconstructiondesc          77353       99.71
finishedsquarefeet6           77189       99.50
pooltypeid10                  77110       99.40
decktypeid                    76961       99.21
poolsizesum                   76706       98.88
pooltypeid2                   76501       98.62
hashottuborspa                76036       98.02
yardbuildingsqft17            75182       96.92
taxdelinquencyflag            74675       96.26
taxdelinquencyyear            74675       96.26
finishedsquarefeet15          74548       96.10
finishedsquarefeet50          71540       92.22
finishedfloor1squarefeet      71540       92.22
fireplacecnt                  69288       89.32
threequarterbathnbr           67470       86.97
pooltypeid7                   62497       80.56
poolcnt                       61402       79.15
numberofstories               59979       77.32
airconditioningdesc           52569       67.77
airconditioningtypeid         52569       67.77
garagecarcnt                  52058       67.11
garagetotalsqft               52058       67.11
regionidneighborhood          46602       60.07
heatingorsystemtypeid         28005       36.10
heatingorsystemdesc           28005       36.10
buildingqualitytypeid         27766       35.79
propertyzoningdesc            27100       34.93
unitcnt                       26872       34.64
lotsizesquarefeet              8257       10.64
finishedsquarefeet12           3655        4.71
regionidcity                   1472        1.90
calculatedbathnbr               615        0.79
fullbathcnt                     615        0.79
yearbuilt                       269        0.35
censustractandblock             247        0.32
calculatedfinishedsquarefeet    200        0.26
structuretaxvaluedollarcnt      115        0.15
regionidzip                      50        0.06
taxamount                         5        0.01

 Total Number of Missing Values: 2561986

 Proportion of Nulls in Dataframe: 0.9443

--------------------------------------
--------------------------------------
nulls in df by column
                             num_rows_missing percent_rows_missing
buildingclassdesc                     77560.0                100.0
buildingclasstypeid                   77560.0                100.0
finishedsquarefeet13                  77533.0                 99.9
storydesc                             77525.0                 99.9
basementsqft                          77525.0                 99.9
storytypeid                           77525.0                 99.9
yardbuildingsqft26                    77505.0                 99.9
fireplaceflag                         77403.0                 99.8
architecturalstyletypeid              77369.0                 99.7
architecturalstyledesc                77369.0                 99.7
typeconstructiontypeid                77353.0                 99.7
typeconstructiondesc                  77353.0                 99.7
finishedsquarefeet6                   77189.0                 99.5
pooltypeid10                          77110.0                 99.4
decktypeid                            76961.0                 99.2
poolsizesum                           76706.0                 98.9
pooltypeid2                           76501.0                 98.6
hashottuborspa                        76036.0                 98.0
yardbuildingsqft17                    75182.0                 96.9
taxdelinquencyflag                    74675.0                 96.3
taxdelinquencyyear                    74675.0                 96.3
finishedsquarefeet15                  74548.0                 96.1
finishedsquarefeet50                  71540.0                 92.2
finishedfloor1squarefeet              71540.0                 92.2
fireplacecnt                          69288.0                 89.3
threequarterbathnbr                   67470.0                 87.0
pooltypeid7                           62497.0                 80.6
poolcnt                               61402.0                 79.2
numberofstories                       59979.0                 77.3
airconditioningdesc                   52569.0                 67.8
airconditioningtypeid                 52569.0                 67.8
garagecarcnt                          52058.0                 67.1
garagetotalsqft                       52058.0                 67.1
regionidneighborhood                  46602.0                 60.1
heatingorsystemtypeid                 28005.0                 36.1
heatingorsystemdesc                   28005.0                 36.1
buildingqualitytypeid                 27766.0                 35.8
propertyzoningdesc                    27100.0                 34.9
unitcnt                               26872.0                 34.6
lotsizesquarefeet                      8257.0                 10.6
finishedsquarefeet12                   3655.0                  4.7
regionidcity                           1472.0                  1.9
calculatedbathnbr                       615.0                  0.8
fullbathcnt                             615.0                  0.8
yearbuilt                               269.0                  0.3
censustractandblock                     247.0                  0.3
calculatedfinishedsquarefeet            200.0                  0.3
structuretaxvaluedollarcnt              115.0                  0.1
regionidzip                              50.0                  0.1
taxamount                                 5.0                  0.0
----------------------
null in df by row
                 percent_cols_missing  num_rows
num_cols_missing
48                  70.58823529411765         3
47                  69.11764705882352         3
46                  67.64705882352942         5
45                  66.17647058823529        50
44                  64.70588235294117        79
43                  63.23529411764706        29
42                  61.76470588235294        26
41                  60.29411764705882        29
40                  58.82352941176471       230
39                  57.35294117647059       285
38                  55.88235294117647      1932
37                  54.41176470588235      3630
36                  52.94117647058824      5793
35                 51.470588235294116      5163
34                               50.0     13357
33                 48.529411764705884     14817
32                  47.05882352941176     12606
31                 45.588235294117645      9911
30                  44.11764705882353      3465
29                  42.64705882352941      5285
28                  41.17647058823529       457
27                 39.705882352941174       316
26                  38.23529411764706        65
25                  36.76470588235294        24
24                 35.294117647058826        13
23                  33.82352941176471         2
----------------------

In [24]:
zillow.dtypes

typeconstructiontypeid    float64
storytypeid               float64
propertylandusetypeid     float64
heatingorsystemtypeid     float64
buildingclasstypeid       float64
                           ...
buildingclassdesc          object
heatingorsystemdesc        object
propertylandusedesc        object
storydesc                  object
typeconstructiondesc       object
Length: 68, dtype: object

In [101]:
# Data cleanign functions 

def remove_columns(df, cols_to_remove):
    '''
    This function takes in a pandas dataframe and a list of columns to remove. It drops those columns from the original df and returns the df.
    '''
    df = df.drop(columns=cols_to_remove)
    return df
                 
                 
def handle_missing_values(df, prop_required_column=0.5 , prop_required_row=0.75):
    '''
    This function takes in a pandas datafeame, default proportion of required columns (set to 50%) and proprtion of required rows (set to 75%).
    It drops any rows or columns that contain null values more than the threshold specified from the original dataframe and returns that dataframe.
    '''
    threshold = int(round(prop_required_column * len(df.index), 0))
    df = df.dropna(axis=1, thresh=threshold)
    threshold = int(round(prop_required_row * len(df.columns), 0))
    df = df.dropna(axis=0, thresh=threshold)
    return df

# combined in one function
def data_prep(df, cols_to_remove=[], prop_required_column=0.5, prop_required_row=0.75):
    '''
    This function calls the remove_columns and handle_missing_values to drop columns that need to be removed. It also drops rows and columns that have more 
    missing values than the specified threshold.
    '''
    df = remove_columns(df, cols_to_remove)
    df = handle_missing_values(df, prop_required_column, prop_required_row)
    return df

In [133]:
# to find the difference 
from collections import Counter

def handle_missing_values(df, prop_required_column=0.5 , prop_required_row=0.75):
    '''
    This function takes in a pandas dataframe, default proportion of required columns (set to 50%) and proprtion of required rows (set to 75%).
    It drops any rows or columns that contain null values more than the threshold specified from the original dataframe and returns that dataframe.
    
    Prior to returning that data, it will print statistics and list counts/names of removed columns/row counts 
    '''
    original_cols = df.columns.to_list()
    original_rows = df.shape[0]
    threshold = int(round(prop_required_column * len(df.index), 0))
    df = df.dropna(axis=1, thresh=threshold)
    threshold = int(round(prop_required_row * len(df.columns), 0))
    df = df.dropna(axis=0, thresh=threshold)
    remaining_cols = df.columns.to_list()
    remaining_rows = df.shape[0]
    dropped_col_count = len(original_cols) - len(remaining_cols)
    dropped_cols = list((Counter(original_cols) - Counter(remaining_cols)).elements())
    print(f'The following {dropped_col_count} columns were dropped because they were missing more than {prop_required_column * 100}% of data: \n{dropped_cols}\n')
    dropped_rows = original_rows - remaining_rows
    print(f'{dropped_rows} rows were dropped because they were missing more than {prop_required_row * 100}% of data')
    return df

In [134]:
handle_missing_values(df)

The following 34 columns were dropped because they were missing more than 50.0% of data:
['typeconstructiontypeid', 'storytypeid', 'buildingclasstypeid', 'architecturalstyletypeid', 'airconditioningtypeid', 'basementsqft', 'decktypeid', 'finishedfloor1squarefeet', 'finishedsquarefeet13', 'finishedsquarefeet15', 'finishedsquarefeet50', 'finishedsquarefeet6', 'fireplacecnt', 'garagecarcnt', 'garagetotalsqft', 'hashottuborspa', 'poolcnt', 'poolsizesum', 'pooltypeid10', 'pooltypeid2', 'pooltypeid7', 'regionidneighborhood', 'threequarterbathnbr', 'yardbuildingsqft17', 'yardbuildingsqft26', 'numberofstories', 'fireplaceflag', 'taxdelinquencyflag', 'taxdelinquencyyear', 'airconditioningdesc', 'architecturalstyledesc', 'buildingclassdesc', 'storydesc', 'typeconstructiondesc']

156 rows were dropped because they were missing more than 75.0% of data

,propertylandusetypeid,heatingorsystemtypeid,parcelid,id,bathroomcnt,bedroomcnt,buildingqualitytypeid,calculatedbathnbr,calculatedfinishedsquarefeet,finishedsquarefeet12,...,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,censustractandblock,logerror,transactiondate,heatingorsystemdesc,propertylandusedesc,bedroom_plus_bathroom
0,261.0,NaN,14297519,1727539,3.5,4.0,NaN,3.5,3100.0,3100.0,...,1023282.0,2016.0,537569.0,11013.72,6.059063e+13,0.025595,2017-01-01,NaN,Single Family Residential,7.5
1,261.0,NaN,17052889,1387261,1.0,2.0,NaN,1.0,1465.0,1465.0,...,464000.0,2016.0,376000.0,5672.48,6.111001e+13,0.055619,2017-01-01,NaN,Single Family Residential,3.0
2,261.0,NaN,14186244,11677,2.0,3.0,NaN,2.0,1243.0,1243.0,...,564778.0,2016.0,479489.0,6488.30,6.059022e+13,0.005383,2017-01-01,NaN,Single Family Residential,5.0
3,261.0,2.0,12177905,2288172,3.0,4.0,8.0,3.0,2376.0,2376.0,...,145143.0,2016.0,36225.0,1777.51,6.037300e+13,-0.103410,2017-01-01,Central,Single Family Residential,7.0
4,266.0,2.0,10887214,1970746,3.0,3.0,8.0,3.0,1312.0,1312.0,...,119407.0,2016.0,45726.0,1533.89,6.037124e+13,0.006940,2017-01-01,Central,Condominium,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77570,266.0,2.0,10833991,2864704,3.0,3.0,8.0,3.0,1741.0,1741.0,...,379000.0,2016.0,114000.0,4685.34,6.037132e+13,-0.002245,2017-09-20,Central,Condominium,6.0
77571,261.0,2.0,11000655,673515,2.0,2.0,6.0,2.0,1286.0,1286.0,...,354621.0,2016.0,283704.0,4478.43,6.037101e+13,0.020615,2017-09-20,Central,Single Family Residential,4.0
77572,261.0,NaN,17239384,2968375,2.0,4.0,NaN,2.0,1612.0,1612.0,...,67205.0,2016.0,16522.0,1107.48,6.111008e+13,0.013209,2017-09-21,NaN,Single Family Residential,6.0
77573,261.0,2.0,12773139,1843709,1.0,3.0,4.0,1.0,1032.0,1032.0,...,49546.0,2016.0,16749.0,876.43,6.037434e+13,0.037129,2017-09-21,Central,Single Family Residential,4.0
77574,261.0,2.0,12826780,1187175,2.0,3.0,6.0,2.0,1762.0,1762.0,...,522000.0,2016.0,382000.0,6317.15,6.037503e+13,0.007204,2017-09-25,Central,Single Family Residential,5.0

In [102]:
df2 = data_prep(df)

In [103]:
describe_data(df2)

This dataframe has 77319 rows and 34 columns.

--------------------------------------
--------------------------------------
<class 'pandas.core.frame.DataFrame'>
Int64Index: 77319 entries, 0 to 77574
Data columns (total 34 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   propertylandusetypeid         77319 non-null  float64
 1   heatingorsystemtypeid         49570 non-null  float64
 2   parcelid                      77319 non-null  int64
 3   id                            77319 non-null  int64
 4   bathroomcnt                   77319 non-null  float64
 5   bedroomcnt                    77319 non-null  float64
 6   buildingqualitytypeid         49806 non-null  float64
 7   calculatedbathnbr             76938 non-null  float64
 8   calculatedfinishedsquarefeet  77315 non-null  float64
 9   finishedsquarefeet12          73905 non-null  float64
 10  fips                          77319 non-null  float64
 11  fullbathcnt                   76938 non-null  float64
 12  latitude                      77319 non-null  float64
 13  longitude                     77319 non-null  float64
 14  lotsizesquarefeet             69149 non-null  float64
 15  propertycountylandusecode     77319 non-null  object
 16  propertyzoningdesc            50407 non-null  object
 17  rawcensustractandblock        77319 non-null  float64
 18  regionidcity                  75881 non-null  float64
 19  regionidcounty                77319 non-null  float64
 20  regionidzip                   77285 non-null  float64
 21  roomcnt                       77319 non-null  float64
 22  unitcnt                       50690 non-null  float64
 23  yearbuilt                     77249 non-null  float64
 24  structuretaxvaluedollarcnt    77235 non-null  float64
 25  taxvaluedollarcnt             77319 non-null  float64
 26  assessmentyear                77319 non-null  float64
 27  landtaxvaluedollarcnt         77319 non-null  float64
 28  taxamount                     77314 non-null  float64
 29  censustractandblock           77106 non-null  float64
 30  logerror                      77319 non-null  float64
 31  transactiondate               77319 non-null  object
 32  heatingorsystemdesc           49570 non-null  object
 33  propertylandusedesc           77319 non-null  object
dtypes: float64(27), int64(2), object(5)
memory usage: 20.6+ MB
None

--------------------------------------
--------------------------------------
Here are the summary statistics of our dataset
      propertylandusetypeid heatingorsystemtypeid       parcelid           id  \
count             77319.000             49570.000      77319.000    77319.000
mean                261.822                 3.922   12991497.041  1495311.405
std                   5.140                 3.595    3242952.673   861012.469
min                  31.000                 1.000   10711855.000      349.000
25%                 261.000                 2.000   11536677.000   751929.000
50%                 261.000                 2.000   12527940.000  1498117.000
75%                 266.000                 7.000   14208049.500  2241247.500
max                 275.000                24.000  167688532.000  2982274.000

      bathroomcnt bedroomcnt buildingqualitytypeid calculatedbathnbr  \
count   77319.000  77319.000             49806.000         76938.000
mean        2.305      3.062                 6.534             2.316
std         0.991      1.130                 1.722             0.980
min         0.000      0.000                 1.000             1.000
25%         2.000      2.000                 6.000             2.000
50%         2.000      3.000                 6.000             2.000
75%         3.000      4.000                 8.000             3.000
max        18.000     16.000                12.000            18.000

      calculatedfinishedsquarefeet finishedsquarefeet12  ...    roomcnt  \
count                    77315.000            73905.000  ...  77319.000
mean                      1784.664             1760.076  ...      1.478
std                        954.148              934.251  ...      2.825
min                        128.000              128.000  ...      0.000
25%                       1182.000             1172.000  ...      0.000
50%                       1542.000             1523.000  ...      0.000
75%                       2112.000             2074.000  ...      0.000
max                      35640.000            21929.000  ...     15.000

         unitcnt  yearbuilt structuretaxvaluedollarcnt taxvaluedollarcnt  \
count  50690.000  77249.000                  77235.000         77319.000
mean       1.110   1968.611                 188585.378        488683.572
std        1.170     23.793                 227034.925        649646.550
min        1.000   1824.000                     44.000          1000.000
25%        1.000   1953.000                  84257.500        206980.500
50%        1.000   1970.000                 136399.000        358876.000
75%        1.000   1987.000                 218396.000        568540.000
max      237.000   2016.000               11421790.000      49061236.000

      assessmentyear landtaxvaluedollarcnt   taxamount  censustractandblock  \
count      77319.000             77319.000   77314.000            77106.000
mean        2016.000            300303.074    5978.535   60496306307415.031
std            0.000            490858.908    7575.193    1535517506427.965
min         2016.000               161.000      19.920   60371011101000.000
25%         2016.000             85200.000    2714.370   60373108005015.750
50%         2016.000            203174.000    4447.630   60376030041003.000
75%         2016.000            366376.500    6921.243   60590423242505.750
max         2016.000          48952198.000  586639.300  483030105084015.000

        logerror
count  77319.000
mean       0.017
std        0.170
min       -4.655
25%       -0.024
50%        0.007
75%        0.039
max        5.263

[8 rows x 29 columns]

--------------------------------------
--------------------------------------
Null Values by Column:
                              count  percentage
heatingorsystemdesc           27749       35.89
heatingorsystemtypeid         27749       35.89
buildingqualitytypeid         27513       35.58
propertyzoningdesc            26912       34.81
unitcnt                       26629       34.44
lotsizesquarefeet              8170       10.57
finishedsquarefeet12           3414        4.42
regionidcity                   1438        1.86
fullbathcnt                     381        0.49
calculatedbathnbr               381        0.49
censustractandblock             213        0.28
structuretaxvaluedollarcnt       84        0.11
yearbuilt                        70        0.09
regionidzip                      34        0.04
taxamount                         5        0.01
calculatedfinishedsquarefeet      4        0.01
assessmentyear                    0        0.00
landtaxvaluedollarcnt             0        0.00
taxvaluedollarcnt                 0        0.00
logerror                          0        0.00
transactiondate                   0        0.00
propertylandusetypeid             0        0.00
rawcensustractandblock            0        0.00
roomcnt                           0        0.00
regionidcounty                    0        0.00
propertycountylandusecode         0        0.00
longitude                         0        0.00
latitude                          0        0.00
fips                              0        0.00
bedroomcnt                        0        0.00
bathroomcnt                       0        0.00
id                                0        0.00
parcelid                          0        0.00
propertylandusedesc               0        0.00

 Total Number of Missing Values: 150746

 Proportion of Nulls in Dataframe: 0.0608

--------------------------------------
--------------------------------------
Row-by-Row Nulls
                 percent_cols_missing  num_rows
num_cols_missing
3                   8.823529411764707      2495
2                    5.88235294117647       993
7                  20.588235294117645       347
1                   2.941176470588235      3459
6                  17.647058823529413      6191
5                  14.705882352941178     18481
4                   11.76470588235294      1459
0                                 0.0     43894
----------------------

In [104]:
def remove_outliers(df, k, col_list):
    ''' remove outliers from a list of columns in a dataframe 
        and return that dataframe
    '''
    
    for col in col_list:
        # get quartiles
        q1, q3 = df[f'{col}'].quantile([.25, .75])  
        # calculate interquartile range
        iqr = q3 - q1   
        # get upper bound
        upper_bound = q3 + k * iqr 
        # get lower bound
        lower_bound = q1 - k * iqr   

        # return dataframe without outliers
        
        df = df[(df[f'{col}'] > lower_bound) & (df[f'{col}'] < upper_bound)]
        
    return df

In [110]:
df2.parcelid.nunique
#it's showing 77574...but there are only 77319 rows. What's going on?

<bound method IndexOpsMixin.nunique of 0        14297519
1        17052889
2        14186244
3        12177905
4        10887214
           ...
77570    10833991
77571    11000655
77572    17239384
77573    12773139
77574    12826780
Name: parcelid, Length: 77319, dtype: int64>

In [111]:
# remove duplicate parcelids
df2 = df2.sort_values('transactiondate').drop_duplicates('parcelid',keep='last')

In [113]:
df2.parcelid.nunique

<bound method IndexOpsMixin.nunique of 0        14297519
1        17052889
2        14186244
3        12177905
4        10887214
           ...
77571    11000655
77573    12773139
77572    17239384
77574    12826780
15132    13083743
Name: parcelid, Length: 77130, dtype: int64>

In [114]:
df2.shape
#this had an impact. But, duplicate parcelids simply have to go.

(77130, 34)

In [115]:
# let's check for more duplicates 
# drop duplicate columns
df2 = df2.loc[:,~df2.columns.duplicated()]

In [116]:
df2.shape
# no other duplicates to worry about. Shape same as before.

(77130, 34)

While there can be condo townhomes and condo apartments, there cannot be condo-style single family homes. Single-family homes also can be placed on any size of property, which means that single-family homes come in all shapes and sizes.

A single-family home is a free-standing residential building. Single-family homes are designed to be used as a single-dwelling unit, with one owner, no shared walls, and its own land.

In [119]:
df.propertylandusedesc.unique()

array(['Single Family Residential', 'Condominium',
       'Duplex (2 Units, Any Combination)', 'Residential General',
       'Planned Unit Development', 'Triplex (3 Units, Any Combination)',
       'Quadruplex (4 Units, Any Combination)', 'Cluster Home',
       'Commercial/Office/Residential Mixed Used', 'Cooperative',
       'Manufactured, Modular, Prefabricated Homes', 'Mobile Home',
       'Townhouse'], dtype=object)

In [128]:
df2 = df2[(df2.propertylandusedesc == 'Single Family Residential') |
      (df2.propertylandusedesc == 'Mobile Home') |
      (df2.propertylandusedesc == 'Manufactured, Modular, Prefabricated Homes') |
      (df2.propertylandusedesc == 'Cluster Home')]

In [130]:
df2.shape

(52639, 35)

In [127]:
df2["bedroom_plus_bathroom"] = df2.bathroomcnt + df2.bedroomcnt
(df2.bedroom_plus_bathroom == df2.calculatedbathnbr).sum()

256

In [135]:

df2= df2[(df2.bedroomcnt > 0) & (df2.bathroomcnt > 0)]
 
# remove properties with 0 baths
df2 = df2[df2.bathroomcnt > 0]

In [136]:
df2.shape

(52561, 35)

In [137]:
# # keep only properties with square footage greater than 70 (legal size of a bedroom)
df2 = df2[df2.calculatedfinishedsquarefeet > 70]

In [138]:
df2.shape

(52560, 35)

In [139]:
df2 = df2[df2.unitcnt <= 1]

In [140]:
df2.shape

(33743, 35)

In [ ]:
df2

In [142]:
import mitosheet
mitosheet.sheet(df2, view_df=True)

MitoWidget(analysis_data_json='{"analysisName": "UUID-91b1b94e-297e-4c07-9a5c-8ef98874204a", "code": {"imports…

In [ ]:
from mitosheet import *; register_analysis('UUID-91b1b94e-297e-4c07-9a5c-8ef98874204a')
    
# Reordered fullbathcnt in df2
df2_columns = [col for col in df2.columns if col != 'fullbathcnt']
df2_columns.insert(6, 'fullbathcnt')
df2 = df2[df2_columns]

In [143]:
(df2.calculatedfinishedsquarefeet == df2.finishedsquarefeet12).sum()
# this indicated thats finishedsquarefeet12 and calculatedfinishedsquarefeet are identical. drop one.

33743

In [144]:
(df2.fullbathcnt == df2.bathroomcnt).sum()
# completely identical again. Drop it.

33743

In [148]:
(df2.bathroomcnt == df2.calculatedbathnbr).sum()

33743