In [1]:
from env import host, username, password, get_db_url
import os
import pandas as pd 
import numpy as np

In [150]:
def acquire_zillow_data(use_cache=True):
    '''
    This function returns a snippet of zillow's database as a Pandas DataFrame. 
    When this SQL data is cached and extant in the os directory path, return the data as read into a df. 
    If csv is unavailable, aquisition proceeds regardless,
    reading the queried database elements into a dataframe, creating a cached csv file
    and lastly returning the dataframe for some sweet data science perusal.
    '''

    # If the cached parameter is True, read the csv file on disk in the same folder as this file 
    if os.path.exists('zillow.csv') and use_cache:
        print('Using cached CSV')
        return pd.read_csv('zillow.csv', dtype={'buildingclassdesc': 'str', 'propertyzoningdesc': 'str'})

    # When there's no cached csv, read the following query from Codeup's SQL database.
    print('CSV not detected.')
    print('Acquiring data from SQL database instead.')
    df = pd.read_sql(
        '''
 SELECT
    prop.*,
    predictions_2017.logerror,
    predictions_2017.transactiondate,
    air.airconditioningdesc,
    arch.architecturalstyledesc,
    build.buildingclassdesc,
    heat.heatingorsystemdesc,
    landuse.propertylandusedesc,
    story.storydesc,
    construct.typeconstructiondesc
FROM properties_2017 prop
JOIN (
    SELECT parcelid, MAX(transactiondate) AS max_transactiondate
    FROM predictions_2017
    GROUP BY parcelid
) pred USING(parcelid)
JOIN predictions_2017 ON pred.parcelid = predictions_2017.parcelid
                      AND pred.max_transactiondate = predictions_2017.transactiondate
LEFT JOIN airconditioningtype air USING (airconditioningtypeid)
LEFT JOIN architecturalstyletype arch USING (architecturalstyletypeid)
LEFT JOIN buildingclasstype build USING (buildingclasstypeid)
LEFT JOIN heatingorsystemtype heat USING (heatingorsystemtypeid)
LEFT JOIN propertylandusetype landuse USING (propertylandusetypeid)
LEFT JOIN storytype story USING (storytypeid)
LEFT JOIN typeconstructiontype construct USING (typeconstructiontypeid)
WHERE prop.latitude IS NOT NULL
  AND prop.longitude IS NOT NULL
  AND transactiondate <= '2017-12-31';             
        '''
                    , get_db_url('zillow'))
    
    df.propertyzoningdesc.astype(str)
    
    
    print('Acquisition Complete. Dataframe available and is now cached for future use.')
    # create a csv of the dataframe for the sake of efficiency. 
    df.to_csv('zillow.csv', index=False)
    
    return df

In [151]:
df = acquire_zillow_data()

CSV not detected.
Acquiring data from SQL database instead.
Acquisition Complete. Dataframe available and is now cached for future use.

In [152]:
def describe_data(df):
    '''
    This function takes in a pandas dataframe and prints out the shape, datatypes, number of missing values, 
    columns and their data types, summary statistics of numeric columns in the dataframe, as well as the value counts for categorical variables.
    '''
    # Print out the "shape" of our dataframe - rows and columns
    print(f'This dataframe has {df.shape[0]} rows and {df.shape[1]} columns.')
    print('')
    print('--------------------------------------')
    print('--------------------------------------')
    
    # print the datatypes and column names with non-null counts
    print(df.info())
    print('')
    print('--------------------------------------')
    print('--------------------------------------')
    
    
    # print out summary stats for our dataset
    print('Here are the summary statistics of our dataset')
    print(df.describe().applymap(lambda x: f"{x:0.3f}"))
    print('')
    print('--------------------------------------')
    print('--------------------------------------')

    # print the number of missing values per column and the total
    print('Null Values by Column: ')
    missing_total = df.isnull().sum().sum()
    missing_count = df.isnull().sum() # the count of missing values
    value_count = df.isnull().count() # the count of all values
    missing_percentage = round(missing_count / value_count * 100, 2) # percentage of missing values
    missing_df = pd.DataFrame({'count': missing_count, 'percentage': missing_percentage})\
    .sort_values(by='percentage', ascending=False)
    
    print(missing_df.head(50))
    print(f' \n Total Number of Missing Values: {missing_total} \n')
    df_total = df[df.columns[:]].count().sum()
    proportion_of_nulls = round((missing_total / df_total), 4)
    print(f' Proportion of Nulls in Dataframe: {proportion_of_nulls}\n') 
    print('--------------------------------------')
    print('--------------------------------------')
    
    print('Row-by-Row Nulls')
    print(nulls_by_row(df))
    print('----------------------')


    #print('Relative Frequencies: \n')
    ## Display top 5 values of each variable within reasonable limit
    #limit = 25
    #for col in df.columns:
    #    if df[col].nunique() < limit:
    #        print(f'Column: {col} \n {round(df[col].value_counts(normalize=True).nlargest(5), 3)} \n')
    #    else: 
    #        print(f'Column: {col} \n')
    #        print(f'Range of Values: [{df[col].min()} - {df[col].max()}] \n')
    #    print('------------------------------------------')
    #    print('--------------------------------------')
        
        
def nulls_by_col(df):
    '''
    This function  takes in a dataframe of observations and attributes(or columns) and returns a dataframe where each row is an atttribute name, the first column is the 
    number of rows with missing values for that attribute, and the second column is percent of total rows that have missing values for that attribute.
    '''
    num_missing = df.isnull().sum()
    rows = df.shape[0]
    prcnt_miss = (num_missing / rows * 100)
    cols_missing = pd.DataFrame({'num_rows_missing': num_missing, 
                                 'percent_rows_missing': prcnt_miss})\
    .sort_values(by='percent_rows_missing', ascending=False)
    return cols_missing.applymap(lambda x: f"{x:0.1f}")

def nulls_by_row(df):
    '''
    This function takes in a dataframe and returns a dataframe with 3 columns: the number of columns missing, percent of columns missing, 
    and number of rows with n columns missing.
    '''
    num_missing = df.isnull().sum(axis = 1)
    prcnt_miss = (num_missing / df.shape[1] * 100)
    rows_missing = pd.DataFrame({'num_cols_missing': num_missing, 
                                 'percent_cols_missing': prcnt_miss})\
    .reset_index()\
    .groupby(['num_cols_missing', 'percent_cols_missing']).count()\
    .rename(index=str, columns={'index': 'num_rows'}).reset_index().set_index('num_cols_missing')\
    .sort_values(by='percent_cols_missing', ascending=False)
    return rows_missing

In [153]:
describe_data(df)

This dataframe has 77380 rows and 68 columns.

--------------------------------------
--------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77380 entries, 0 to 77379
Data columns (total 68 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            77380 non-null  int64
 1   parcelid                      77380 non-null  int64
 2   airconditioningtypeid         24953 non-null  float64
 3   architecturalstyletypeid      206 non-null    float64
 4   basementsqft                  50 non-null     float64
 5   bathroomcnt                   77380 non-null  float64
 6   bedroomcnt                    77380 non-null  float64
 7   buildingclasstypeid           15 non-null     float64
 8   buildingqualitytypeid         49671 non-null  float64
 9   calculatedbathnbr             76771 non-null  float64
 10  decktypeid                    614 non-null    float64
 11  finishedfloor1squarefeet      6023 non-null   float64
 12  calculatedfinishedsquarefeet  77184 non-null  float64
 13  finishedsquarefeet12          73748 non-null  float64
 14  finishedsquarefeet13          41 non-null     float64
 15  finishedsquarefeet15          3009 non-null   float64
 16  finishedsquarefeet50          6023 non-null   float64
 17  finishedsquarefeet6           386 non-null    float64
 18  fips                          77380 non-null  float64
 19  fireplacecnt                  8276 non-null   float64
 20  fullbathcnt                   76771 non-null  float64
 21  garagecarcnt                  25474 non-null  float64
 22  garagetotalsqft               25474 non-null  float64
 23  hashottuborspa                1538 non-null   float64
 24  heatingorsystemtypeid         49439 non-null  float64
 25  latitude                      77380 non-null  float64
 26  longitude                     77380 non-null  float64
 27  lotsizesquarefeet             69141 non-null  float64
 28  poolcnt                       16137 non-null  float64
 29  poolsizesum                   867 non-null    float64
 30  pooltypeid10                  464 non-null    float64
 31  pooltypeid2                   1074 non-null   float64
 32  pooltypeid7                   15042 non-null  float64
 33  propertycountylandusecode     77380 non-null  object
 34  propertylandusetypeid         77380 non-null  float64
 35  propertyzoningdesc            50330 non-null  object
 36  rawcensustractandblock        77380 non-null  float64
 37  regionidcity                  75909 non-null  float64
 38  regionidcounty                77380 non-null  float64
 39  regionidneighborhood          30890 non-null  float64
 40  regionidzip                   77330 non-null  float64
 41  roomcnt                       77380 non-null  float64
 42  storytypeid                   50 non-null     float64
 43  threequarterbathnbr           10096 non-null  float64
 44  typeconstructiontypeid        222 non-null    float64
 45  unitcnt                       50562 non-null  float64
 46  yardbuildingsqft17            2388 non-null   float64
 47  yardbuildingsqft26            70 non-null     float64
 48  yearbuilt                     77117 non-null  float64
 49  numberofstories               17560 non-null  float64
 50  fireplaceflag                 172 non-null    float64
 51  structuretaxvaluedollarcnt    77268 non-null  float64
 52  taxvaluedollarcnt             77379 non-null  float64
 53  assessmentyear                77380 non-null  float64
 54  landtaxvaluedollarcnt         77378 non-null  float64
 55  taxamount                     77375 non-null  float64
 56  taxdelinquencyflag            2886 non-null   object
 57  taxdelinquencyyear            2886 non-null   float64
 58  censustractandblock           77136 non-null  float64
 59  logerror                      77380 non-null  float64
 60  transactiondate               77380 non-null  object
 61  airconditioningdesc           24953 non-null  object
 62  architecturalstyledesc        206 non-null    object
 63  buildingclassdesc             15 non-null     object
 64  heatingorsystemdesc           49439 non-null  object
 65  propertylandusedesc           77380 non-null  object
 66  storydesc                     50 non-null     object
 67  typeconstructiondesc          222 non-null    object
dtypes: float64(55), int64(2), object(11)
memory usage: 40.1+ MB
None

--------------------------------------
--------------------------------------
Here are the summary statistics of our dataset
                id       parcelid airconditioningtypeid  \
count    77380.000      77380.000             24953.000
mean   1495126.488   13007149.516                 1.813
std     860905.692    3481368.132                 2.968
min        349.000   10711855.000                 1.000
25%     752050.000   11538296.750                 1.000
50%    1497870.000   12531548.500                 1.000
75%    2240480.250   14211843.750                 1.000
max    2982274.000  167689317.000                13.000

      architecturalstyletypeid basementsqft bathroomcnt bedroomcnt  \
count                  206.000       50.000   77380.000  77380.000
mean                     7.388      679.720       2.299      3.053
std                      2.735      689.704       0.997      1.139
min                      2.000       38.000       0.000      0.000
25%                      7.000      273.000       2.000      2.000
50%                      7.000      515.000       2.000      3.000
75%                      7.000      796.500       3.000      4.000
max                     21.000     3560.000      18.000     16.000

      buildingclasstypeid buildingqualitytypeid calculatedbathnbr  ...  \
count              15.000             49671.000         76771.000  ...
mean                3.933                 6.535             2.317  ...
std                 0.258                 1.722             0.980  ...
min                 3.000                 1.000             1.000  ...
25%                 4.000                 6.000             2.000  ...
50%                 4.000                 6.000             2.000  ...
75%                 4.000                 8.000             3.000  ...
max                 4.000                12.000            18.000  ...

      numberofstories fireplaceflag structuretaxvaluedollarcnt  \
count       17560.000       172.000                  77268.000
mean            1.435         1.000                 189315.983
std             0.545         0.000                 230088.557
min             1.000         1.000                     44.000
25%             1.000         1.000                  84265.000
50%             1.000         1.000                 136499.500
75%             2.000         1.000                 218787.500
max             6.000         1.000               11421790.000

      taxvaluedollarcnt assessmentyear landtaxvaluedollarcnt   taxamount  \
count         77379.000      77380.000             77378.000   77375.000
mean         490137.463       2016.000            301096.944    5995.567
std          653447.667          0.000            492599.029    7622.887
min            1000.000       2016.000               161.000      19.920
25%          207000.000       2016.000             85504.000    2715.585
50%          358976.000       2016.000            203383.500    4450.720
75%          569003.000       2016.000            366802.250    6927.800
max        49061236.000       2016.000          48952198.000  586639.300

      taxdelinquencyyear  censustractandblock   logerror
count           2886.000            77136.000  77380.000
mean              14.087   60496735236341.992      0.017
std                2.186    1535251869244.564      0.170
min                3.000   60371011101000.000     -4.655
25%               14.000   60373109005001.750     -0.024
50%               15.000   60376032003008.000      0.007
75%               15.000   60590423251008.000      0.039
max               99.000  483030105084015.000      5.263

[8 rows x 57 columns]

--------------------------------------
--------------------------------------
Null Values by Column:
                              count  percentage
buildingclassdesc             77365       99.98
buildingclasstypeid           77365       99.98
finishedsquarefeet13          77339       99.95
storytypeid                   77330       99.94
basementsqft                  77330       99.94
storydesc                     77330       99.94
yardbuildingsqft26            77310       99.91
fireplaceflag                 77208       99.78
architecturalstyletypeid      77174       99.73
architecturalstyledesc        77174       99.73
typeconstructiondesc          77158       99.71
typeconstructiontypeid        77158       99.71
finishedsquarefeet6           76994       99.50
pooltypeid10                  76916       99.40
decktypeid                    76766       99.21
poolsizesum                   76513       98.88
pooltypeid2                   76306       98.61
hashottuborspa                75842       98.01
yardbuildingsqft17            74992       96.91
taxdelinquencyyear            74494       96.27
taxdelinquencyflag            74494       96.27
finishedsquarefeet15          74371       96.11
finishedsquarefeet50          71357       92.22
finishedfloor1squarefeet      71357       92.22
fireplacecnt                  69104       89.30
threequarterbathnbr           67284       86.95
pooltypeid7                   62338       80.56
poolcnt                       61243       79.15
numberofstories               59820       77.31
airconditioningdesc           52427       67.75
airconditioningtypeid         52427       67.75
garagecarcnt                  51906       67.08
garagetotalsqft               51906       67.08
regionidneighborhood          46490       60.08
heatingorsystemtypeid         27941       36.11
heatingorsystemdesc           27941       36.11
buildingqualitytypeid         27709       35.81
propertyzoningdesc            27050       34.96
unitcnt                       26818       34.66
lotsizesquarefeet              8239       10.65
finishedsquarefeet12           3632        4.69
regionidcity                   1471        1.90
fullbathcnt                     609        0.79
calculatedbathnbr               609        0.79
yearbuilt                       263        0.34
censustractandblock             244        0.32
calculatedfinishedsquarefeet    196        0.25
structuretaxvaluedollarcnt      112        0.14
regionidzip                      50        0.06
taxamount                         5        0.01

 Total Number of Missing Values: 2555480

 Proportion of Nulls in Dataframe: 0.9442

--------------------------------------
--------------------------------------
Row-by-Row Nulls
                 percent_cols_missing  num_rows
num_cols_missing
48                  70.58823529411765         3
47                  69.11764705882352         3
46                  67.64705882352942         5
45                  66.17647058823529        50
44                  64.70588235294117        78
43                  63.23529411764706        28
42                  61.76470588235294        23
41                  60.29411764705882        29
40                  58.82352941176471       230
39                  57.35294117647059       285
38                  55.88235294117647      1925
37                  54.41176470588235      3620
36                  52.94117647058824      5775
35                 51.470588235294116      5148
34                               50.0     13326
33                 48.529411764705884     14782
32                  47.05882352941176     12579
31                 45.588235294117645      9891
30                  44.11764705882353      3455
29                  42.64705882352941      5270
28                  41.17647058823529       455
27                 39.705882352941174       316
26                  38.23529411764706        65
25                  36.76470588235294        24
24                 35.294117647058826        13
23                  33.82352941176471         2
----------------------

In [154]:
def remove_columns(df, cols_to_remove):
    '''
    This function takes in a pandas dataframe and a list of columns to remove. It drops those columns from the original df and returns the df.
    '''
    df = df.drop(columns=cols_to_remove)
    return df
                 
                 
def handle_missing_values(df, prop_required_column=0.5 , prop_required_row=0.5):
    '''
    This function takes in a pandas datafeame, default proportion of required columns (set to 50%) and proprtion of required rows (set to 75%).
    It drops any rows or columns that contain null values more than the threshold specified from the original dataframe and returns that dataframe.
    '''
    threshold = int(round(prop_required_column * len(df.index), 0))
    df = df.dropna(axis=1, thresh=threshold)
    threshold = int(round(prop_required_row * len(df.columns), 0))
    df = df.dropna(axis=0, thresh=threshold)
    return df

# combined in one function
def data_prep(df, cols_to_remove=[], prop_required_column=0.5, prop_required_row=0.5):
    '''
    This function calls the remove_columns and handle_missing_values to drop columns that need to be removed. It also drops rows and columns that have more 
    missing values than the specified threshold.
    '''
    df = remove_columns(df, cols_to_remove)
    df = handle_missing_values(df, prop_required_column, prop_required_row)
    return df

In [155]:
# to find the difference 
from collections import Counter

def handle_missing_values(df, prop_required_column=0.5 , prop_required_row=0.5):
    '''
    This function takes in a pandas dataframe, default proportion of required columns (set to 50%) and proprtion of required rows (set to 75%).
    It drops any rows or columns that contain null values more than the threshold specified from the original dataframe and returns that dataframe.
    
    Prior to returning that data, it will print statistics and list counts/names of removed columns/row counts 
    '''
    original_cols = df.columns.to_list()
    original_rows = df.shape[0]
    threshold = int(round(prop_required_column * len(df.index), 0))
    df = df.dropna(axis=1, thresh=threshold)
    threshold = int(round(prop_required_row * len(df.columns), 0))
    df = df.dropna(axis=0, thresh=threshold)
    remaining_cols = df.columns.to_list()
    remaining_rows = df.shape[0]
    dropped_col_count = len(original_cols) - len(remaining_cols)
    dropped_cols = list((Counter(original_cols) - Counter(remaining_cols)).elements())
    print(f'The following {dropped_col_count} columns were dropped because they were missing more than {prop_required_column * 100}% of data: \n{dropped_cols}\n')
    dropped_rows = original_rows - remaining_rows
    print(f'{dropped_rows} rows were dropped because they were missing more than {prop_required_row * 100}% of data')
    return df

In [ ]:
handle_missing_values(df)

In [158]:
df = data_prep(df)

The following 34 columns were dropped because they were missing more than 50.0% of data:
['airconditioningtypeid', 'architecturalstyletypeid', 'basementsqft', 'buildingclasstypeid', 'decktypeid', 'finishedfloor1squarefeet', 'finishedsquarefeet13', 'finishedsquarefeet15', 'finishedsquarefeet50', 'finishedsquarefeet6', 'fireplacecnt', 'garagecarcnt', 'garagetotalsqft', 'hashottuborspa', 'poolcnt', 'poolsizesum', 'pooltypeid10', 'pooltypeid2', 'pooltypeid7', 'regionidneighborhood', 'storytypeid', 'threequarterbathnbr', 'typeconstructiontypeid', 'yardbuildingsqft17', 'yardbuildingsqft26', 'numberofstories', 'fireplaceflag', 'taxdelinquencyflag', 'taxdelinquencyyear', 'airconditioningdesc', 'architecturalstyledesc', 'buildingclassdesc', 'storydesc', 'typeconstructiondesc']

0 rows were dropped because they were missing more than 50.0% of data

In [160]:
describe_data(df)

This dataframe has 77380 rows and 34 columns.

--------------------------------------
--------------------------------------
<class 'pandas.core.frame.DataFrame'>
Int64Index: 77380 entries, 0 to 77379
Data columns (total 34 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            77380 non-null  int64
 1   parcelid                      77380 non-null  int64
 2   bathroomcnt                   77380 non-null  float64
 3   bedroomcnt                    77380 non-null  float64
 4   buildingqualitytypeid         49671 non-null  float64
 5   calculatedbathnbr             76771 non-null  float64
 6   calculatedfinishedsquarefeet  77184 non-null  float64
 7   finishedsquarefeet12          73748 non-null  float64
 8   fips                          77380 non-null  float64
 9   fullbathcnt                   76771 non-null  float64
 10  heatingorsystemtypeid         49439 non-null  float64
 11  latitude                      77380 non-null  float64
 12  longitude                     77380 non-null  float64
 13  lotsizesquarefeet             69141 non-null  float64
 14  propertycountylandusecode     77380 non-null  object
 15  propertylandusetypeid         77380 non-null  float64
 16  propertyzoningdesc            50330 non-null  object
 17  rawcensustractandblock        77380 non-null  float64
 18  regionidcity                  75909 non-null  float64
 19  regionidcounty                77380 non-null  float64
 20  regionidzip                   77330 non-null  float64
 21  roomcnt                       77380 non-null  float64
 22  unitcnt                       50562 non-null  float64
 23  yearbuilt                     77117 non-null  float64
 24  structuretaxvaluedollarcnt    77268 non-null  float64
 25  taxvaluedollarcnt             77379 non-null  float64
 26  assessmentyear                77380 non-null  float64
 27  landtaxvaluedollarcnt         77378 non-null  float64
 28  taxamount                     77375 non-null  float64
 29  censustractandblock           77136 non-null  float64
 30  logerror                      77380 non-null  float64
 31  transactiondate               77380 non-null  object
 32  heatingorsystemdesc           49439 non-null  object
 33  propertylandusedesc           77380 non-null  object
dtypes: float64(27), int64(2), object(5)
memory usage: 20.7+ MB
None

--------------------------------------
--------------------------------------
Here are the summary statistics of our dataset
                id       parcelid bathroomcnt bedroomcnt  \
count    77380.000      77380.000   77380.000  77380.000
mean   1495126.488   13007149.516       2.299      3.053
std     860905.692    3481368.132       0.997      1.139
min        349.000   10711855.000       0.000      0.000
25%     752050.000   11538296.750       2.000      2.000
50%    1497870.000   12531548.500       2.000      3.000
75%    2240480.250   14211843.750       3.000      4.000
max    2982274.000  167689317.000      18.000     16.000

      buildingqualitytypeid calculatedbathnbr calculatedfinishedsquarefeet  \
count             49671.000         76771.000                    77184.000
mean                  6.535             2.317                     1785.229
std                   1.722             0.980                      954.052
min                   1.000             1.000                      128.000
25%                   6.000             2.000                     1182.000
50%                   6.000             2.000                     1543.000
75%                   8.000             3.000                     2113.000
max                  12.000            18.000                    35640.000

      finishedsquarefeet12       fips fullbathcnt  ...    roomcnt    unitcnt  \
count            73748.000  77380.000   76771.000  ...  77380.000  50562.000
mean              1760.532   6048.819       2.250  ...      1.477      1.110
std                934.027     20.748       0.967  ...      2.824      1.171
min                128.000   6037.000       1.000  ...      0.000      1.000
25%               1172.000   6037.000       2.000  ...      0.000      1.000
50%               1523.000   6037.000       2.000  ...      0.000      1.000
75%               2076.000   6059.000       3.000  ...      0.000      1.000
max              21929.000   6111.000      18.000  ...     15.000    237.000

       yearbuilt structuretaxvaluedollarcnt taxvaluedollarcnt assessmentyear  \
count  77117.000                  77268.000         77379.000      77380.000
mean    1968.636                 189315.983        490137.463       2016.000
std       23.786                 230088.557        653447.667          0.000
min     1824.000                     44.000          1000.000       2016.000
25%     1953.000                  84265.000        207000.000       2016.000
50%     1970.000                 136499.500        358976.000       2016.000
75%     1987.000                 218787.500        569003.000       2016.000
max     2016.000               11421790.000      49061236.000       2016.000

      landtaxvaluedollarcnt   taxamount  censustractandblock   logerror
count             77378.000   77375.000            77136.000  77380.000
mean             301096.944    5995.567   60496735236341.992      0.017
std              492599.029    7622.887    1535251869244.564      0.170
min                 161.000      19.920   60371011101000.000     -4.655
25%               85504.000    2715.585   60373109005001.750     -0.024
50%              203383.500    4450.720   60376032003008.000      0.007
75%              366802.250    6927.800   60590423251008.000      0.039
max            48952198.000  586639.300  483030105084015.000      5.263

[8 rows x 29 columns]

--------------------------------------
--------------------------------------
Null Values by Column:
                              count  percentage
heatingorsystemdesc           27941       36.11
heatingorsystemtypeid         27941       36.11
buildingqualitytypeid         27709       35.81
propertyzoningdesc            27050       34.96
unitcnt                       26818       34.66
lotsizesquarefeet              8239       10.65
finishedsquarefeet12           3632        4.69
regionidcity                   1471        1.90
calculatedbathnbr               609        0.79
fullbathcnt                     609        0.79
yearbuilt                       263        0.34
censustractandblock             244        0.32
calculatedfinishedsquarefeet    196        0.25
structuretaxvaluedollarcnt      112        0.14
regionidzip                      50        0.06
taxamount                         5        0.01
logerror                          0        0.00
landtaxvaluedollarcnt             2        0.00
assessmentyear                    0        0.00
taxvaluedollarcnt                 1        0.00
transactiondate                   0        0.00
id                                0        0.00
rawcensustractandblock            0        0.00
roomcnt                           0        0.00
regionidcounty                    0        0.00
parcelid                          0        0.00
propertylandusetypeid             0        0.00
propertycountylandusecode         0        0.00
longitude                         0        0.00
latitude                          0        0.00
fips                              0        0.00
bedroomcnt                        0        0.00
bathroomcnt                       0        0.00
propertylandusedesc               0        0.00

 Total Number of Missing Values: 152892

 Proportion of Nulls in Dataframe: 0.0617

--------------------------------------
--------------------------------------
Row-by-Row Nulls
                 percent_cols_missing  num_rows
num_cols_missing
3                   8.823529411764707      2482
2                    5.88235294117647       989
14                  41.17647058823529         3
13                  38.23529411764706         4
12                 35.294117647058826         7
11                  32.35294117647059        62
10                 29.411764705882355        79
9                   26.47058823529412        41
8                   23.52941176470588        55
7                  20.588235294117645       347
1                   2.941176470588235      3453
6                  17.647058823529413      6179
5                  14.705882352941178     18449
4                   11.76470588235294      1452
0                                 0.0     43778
----------------------

In [104]:
def remove_outliers(df, k, col_list):
    ''' remove outliers from a list of columns in a dataframe 
        and return that dataframe
    '''
    
    for col in col_list:
        # get quartiles
        q1, q3 = df[f'{col}'].quantile([.25, .75])  
        # calculate interquartile range
        iqr = q3 - q1   
        # get upper bound
        upper_bound = q3 + k * iqr 
        # get lower bound
        lower_bound = q1 - k * iqr   

        # return dataframe without outliers
        
        df = df[(df[f'{col}'] > lower_bound) & (df[f'{col}'] < upper_bound)]
        
    return df

In [161]:
df.parcelid.nunique
#it's showing 77574...but there are only 77319 rows. What's going on?

<bound method IndexOpsMixin.nunique of 0        14297519
1        17052889
2        14186244
3        12177905
4        10887214
           ...
77375    10833991
77376    11000655
77377    17239384
77378    12773139
77379    12826780
Name: parcelid, Length: 77380, dtype: int64>

In [119]:
df.propertylandusedesc.unique()

array(['Single Family Residential', 'Condominium',
       'Duplex (2 Units, Any Combination)', 'Residential General',
       'Planned Unit Development', 'Triplex (3 Units, Any Combination)',
       'Quadruplex (4 Units, Any Combination)', 'Cluster Home',
       'Commercial/Office/Residential Mixed Used', 'Cooperative',
       'Manufactured, Modular, Prefabricated Homes', 'Mobile Home',
       'Townhouse'], dtype=object)

In [162]:
df = df[(df.propertylandusedesc == 'Single Family Residential') |
      (df.propertylandusedesc == 'Mobile Home') |
      (df.propertylandusedesc == 'Manufactured, Modular, Prefabricated Homes') |
      (df.propertylandusedesc == 'Cluster Home')]

In [164]:
df.shape

(52784, 34)

In [166]:
df= df[(df.bedroomcnt > 0) & (df.bathroomcnt > 0)]
df.shape

(52595, 34)

In [167]:
#remove properties with 0 baths
df = df[df.bathroomcnt > 0]

In [168]:
df.shape

(52595, 34)

In [169]:
# # keep only properties with square footage greater than 70 (legal size of a bedroom)
df = df[df.calculatedfinishedsquarefeet > 70]

In [170]:
df.shape

(52587, 34)

In [171]:
df2 = df[df.unitcnt <= 1]

In [172]:
df2.shape

(33742, 34)

In [ ]:
df2

In [174]:
import mitosheet
mitosheet.sheet(df2, view_df=True)

MitoWidget(analysis_data_json='{"analysisName": "UUID-aae39cf3-a43e-43cf-9cdf-69e55a767aa8", "code": {"imports…

In [175]:
(df2.calculatedfinishedsquarefeet == df2.finishedsquarefeet12).sum()
# this indicated thats finishedsquarefeet12 and calculatedfinishedsquarefeet are identical. drop one.

33742

In [176]:
(df2.fullbathcnt == df2.bathroomcnt).sum()
# completely identical again. Drop it.

33742

In [177]:
(df2.bathroomcnt == df2.calculatedbathnbr).sum()

33742